body {
  margin: 0;
}

.container {
  display: grid; /* 親要素に指定 */
/* ２列３行のグリッドを作成 ※左上から並ぶ */
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px; 

  /* gap: 10px; 縦横の余白 */
  gap: 10px 40px; /* 縦と横の余白 */
}

.box1 {
  background: hsl(0, 60%, 60%);
}

.box2 {
  background: hsl(60, 60%, 60%);
}

.box3 {
  background: hsl(120, 60%, 60%);
}

.box4 {
  background: hsl(180, 60%, 60%);
}

.box5 {
  background: hsl(240, 60%, 60%);
}

