/* 変数を使って便利に編集 */

/* 注意点 */
/* 大文字と小文字は別認識なので注意 */
/* 値に利用できるがプロパティ名には使えない */
/* 【var(宣言名)px】など後から追加はできない */


/* 変数の宣言 */
h1 {
  --my-color: blue; /* 【--名前】で変数を指定 */
  color: var(--my-color);  /* 【var(宣言名)】で変数を使う */
  border-bottom: 3px solid var(--My-color,orange); /* 指定がない時はオレンジ */
}




/* 親要素に指定すると子要素に継承する */
body {
  --my-color: orange;  /* 【h1】【p】などに継承 */
}