body {
  background: #efdec1;
  font-family: Verdana, sans-serif;
  font-size: 18px;
}

.container {
  width: 400px;
  margin: 8px auto;
  background: #fff;
  border-radius: 15px;
  padding: 16px;
}

#question {
  margin-bottom: 16px;
  font-weight: bold;
}

#choices {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

#choices > li {
  border: 1px solid #ccd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#choices > li:hover {
  background: #f8f8f8;
}

#btn {
  background: #3498db;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 #2280b9;
}

#btn.disabled {
  background: #ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: .8;
}


